aioresponses==0.3.0
git+https://github.com/wtsi-hgi/useintest.git@develop#egg=useintest
git+https://github.com/wtsi-hgi/irobot-client.git@4b6857dd67121d6a6b0f17959f1caa89cdcbe5ea#egg=irobotclient
docker
temphelpers
python-irodsclient
