aiohttp==2.2.5
aiodns==1.1.1
cchardet==2.1.1
async_timeout==1.4.0

https://github.com/rogerbinns/apsw/releases/download/3.20.1-r1/apsw-3.20.1-r1.zip --global-option=fetch --global-option=--version --global-option=3.20.1 --global-option=--all --global-option=build --global-option=--enable-all-extensions
